.container {
  /* border: 1px solid red; */
  margin: 50px 0 30px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(65, 62, 193, 0.7);
}

.recovered {
  border-bottom: 10px solid rgba(62, 193, 65, 0.7);
}

.deaths {
  border-bottom: 10px solid rgba(193, 65, 62, 0.7);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}